/* CSS код для стилизации блока выбора аватара */

/* Общий стиль для блока */
.avatar-block {
  width: 120px; /* Ширина блока */
  border: 1px solid black; /* Граница блока */
  max-height: 320px; /* Максимальная высота блока */
  overflow-y: hidden; /* Включение скролла по вертикали, если содержимое превышает высоту блока */
  overflow-x: hidden;
}

/* Стиль для блока с надписью или выбранной аватаркой */
.avatar-header {
  height: 40px; /* Высота блока */
  display: flex; /* Использование flex-контейнера для выравнивания элементов */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  justify-content: center; /* Выравнивание элементов по центру по горизонтали */
  cursor: pointer; /* Изменение курсора на указатель при наведении */
}

/* Стиль для надписи "Выберите аватар" */
.avatar-header span {
  font-size: 12px; /* Размер шрифта */
}

/* Стиль для выбранной аватарки */
.avatar-header img {
  width: 35px; /* Ширина изображения */
  height: 35px; /* Высота изображения */
}

/* Стиль для блока с вариантами выбора аватара */
.avatar-options {
  display: flex; /* Использование flex-контейнера для выравнивания элементов */
  flex-direction: column; /* Расположение элементов в колонку */
  transition: max-height 0.5s ease-in-out; /* Добавление анимации раскрытия и сворачивания блока */
}

/* Стиль для изображений аватаров, которые можно выбрать */
.avatar-options img {
  width: 90px; /* Ширина изображения */
  height: auto; /* Автоматическая высота изображения, пропорциональная ширине */
  margin: 5px; /* Отступы между изображениями */
  cursor: pointer; /* Изменение курсора на указатель при наведении */
}
